---
import Layout from "../layouts/Page.astro";
import { getEntry } from "astro:content";

const home = await getEntry("pages", "home");
//const { Content } = await home.render();
---

<Layout>
	<div class="relative text-center flex">
		<div
			class="absolute inset-0 top-2/4 md:text-4xl max-md:text-3xl text-neutral"
		>
			{home.data.intro}
		</div>
		<img
			src={home.data.bannerImage}
			alt={home.data.bannerImageAlt}
			class="flex-1"
		/>
	</div>
</Layout>
