---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
//import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="flex max-md:flex-col">
			<Header class="flex-none" />
			<main class="flex-1 h-screen border-2">
				<slot />
			</main>
		</div>
		<!-- <Footer /> -->
	</body>
</html>
